<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<p>We currently have <%= @product_count %> products</p>
<p>We currently have <%= @category_count %> categories</p>